---
layout: default
title: Home
permalink: /
---
<div id="logo-wrapper" class="twelve columns text-center" data-aos="fade-in" data-aos-duration="1000">
  <img src="/images/logo.png" alt="Logo">
</div>
<div class="twelve columns text-center">
  <div id="main-content">
    {% for card in site.data.home.cards %}
      {% assign name = card.card-name %}
      {% assign type = card.card-type %}
      {% assign image = card.card-image-path %}
      {% assign text = card.card-text %}
      {% assign include-link = card.include-link %}
      {% if card.include-link %}
        {% assign link = card.link %}
        {% assign link-text = card.link-text %}
      {% endif %}
      {% include card.html %}
    {% endfor %}
  </div>
</div>
