<header class="site-header" role="banner">
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="/"><img class="logo" src="/images/logo.png"></a>
      <h3><a href="/">Berean Christian Robotics</a></h3>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
<!--         <li class="has-submenu">
          <a href="#0">Teams</a>
            <ul class="submenu menu vertical" data-subbmenu>
              <li><a href="/teams/build">Build Team</a></li>
              <li><a href="/teams/program">Programming Team</a></li>
              <li><a href="/teams/manage">Management Team</a></li>
              <li><a href="/teams/web">Website Team</a></li>
            </ul>
        </li> -->
        <li><a href="/tournaments/">Tournaments</a></li>
        <li class="has-submenu">
          <a href="#0">External Links</a>
            <ul class="submenu menu vertical" data-subbmenu>
              <li><a href="https://www.bereaneagles.org">BCHS Website</a></li>
              <li><a href="https://www.firstinspires.org/robotics/ftc/">First Tech Challenge</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="show-for-small-only">
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This website works on your screen better sideways!
  </div> 
</div>