<header class="site-header" role="banner">
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="/"><img class="logo" src="/images/logo.png"></a>
      <h3><a href="/">Berean Christian Robotics</a></h3>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/" style="background: #042a68;">Home</a></li>
        <li><a href="/about" style="background: #042a68;">About</a></li>
        <li><a href="/team" style="background: #042a68;">The Team</a></li>  
        <li class="has-submenu">
          <div class="externalLinks">
            <a href="#0" style="background: #042a68;">External Links</a>
          </div>
            <ul class="submenu menu vertical" data-subbmenu>
              <li><a href="https://www.adobe.com/">Adobe</a></li>
              <li><a href="https://www.bereaneagles.org">BCHS Website</a></li>
              <li><a href="https://www.firstinspires.org/robotics/ftc/">First Tech Challenge</a></li>
              <li><a href="https://www.norcalftc.org/">Norcal FTC</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="show-for-small-only">
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This website works on your screen better sideways!
  </div> 
</div>