<script src="/assets/javascript/jquery.js"></script>
<script src="/assets/javascript/foundation.js"></script>
<script src="/assets/javascript/site.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript">
  AOS.init();
</script>
<script type="text/javascript">
  //Disable double click on ios
  $(document).ready(function() {
    $('#dropdown-text').children('a').on('click touchend', function(e){
      var el = $(this);
      var link = el.attr('href');
      window.location = link;
    });
});
</script>
