$gold: #c6b695;

@mixin center {
  margin: 0 auto;
  display: block;
}

@mixin border {
  border: 1px solid black;
}

#logo-wrapper {
  @include border;
  background-color: black;
  img {
    @include center;
  }
}
