#yTPlay {
	width: 2.5rem;
	height: 1.5rem;
}

.logo{

	max-height: 4.7rem;

}

.top-bar-left {

	h3, img {display: inline-block;}
	h3 {padding-left: 1.5rem;}

}

.top-bar {

	ul, li, a {background: #042a68; color: white;}
	background: #042a68;
	color: white;

}

.centered {

	text-align: center;

}