---
layout: default
---

{% include head.html %}

<div class="home">
  <br>
  <div class="colum-wrapper">
    <div class="grid-x">
      <div class="large-6 shrink cell">
            <h1 class="centered">Welcome to<br>Berean Christian Robotics</h1>
            <div class="no-image-colum-wrapper">
              <p class="indent">Our Berean Robotics Team consists of 21 members. We work together, in seperate squads, such as managment and builders, to achieve the major goal of succeeding in tournaments. But, at said tournaments, we make sure to put "Gracious Professionalism" above all else. We love to help others when they need it and to give our own time to support the efforts of other teams in order to make it a worthwhile experience for all participants. </p>
            </div>
          </div>
      <div class="large-6 shrink cell">
        <div class="orbit" role="region" aria-label="Team Pictures" data-orbit>
          <div class="orbit-wrapper">
            <div class="orbit-controls">
              <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
              <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            </div>
            <ul class="orbit-container">
              <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="/images/home1.jpg" alt="">
                  <figcaption class="orbit-caption">Our Team</figcaption>
                </figure>
              </li>
              <li class="orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="/images/home2.jpg" alt="">
                  <figcaption class="orbit-caption">Our Management Team Working</figcaption>
                </figure>
              </li>
              <li class="orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="/images/home3.jpg" alt="">
                  <figcaption class="orbit-caption">Mr. Peakcock Teaching Our programing Team</figcaption>
                </figure>
              </li>
              <li class="orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="/images/home4.jpg" alt="">
                  <figcaption class="orbit-caption">Luke Presents Q-Bot</figcaption>
                </figure>
              </li>
            </ul>
          </div>
         <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
          </nav>
        </div>
      </div>
    </div>
    <br>
    <div class="grid-x">
      <div class="large-6 shrink cell">
        <div class="responsive-embed">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nRsu7bRFhx4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="large-6 shrink cell">
        <div class="no-image-colum-wrapper">
          <p class="indent">The Berean Robotics Team is participating in FTC, the FIRST Tech Challenge. In the FIRST Tech Challenge, the teams are challenged to build, design, and program robots to complete tasks and score points. The competition for this year is First Relic Recovery, and the teams compete in an alliance format to score as many points as possibly by putting glyphs in their proper places, knocking jewels off platforms, and grabbing relics and relocating them outside the arena. Here's some links that give more information about FTC.</p>
          <br>
          <p class="centered"><a href="https://www.firstinspires.org/robotics/ftc/game-and-season">FTC Game Information</a><br><a href="http://www.norcalftc.org/">Norcal FTC</a></p>
        </div>
      </div>
    </div>

    {{ content }}
  </div>
</div>
