---
layout: default
---
<div class="column-wrapper">
	<div class="grid-x">
		<div class="large-6 shrink cell">
			<header class="post-header">
				<h1 class="post-title">{{ page.title | escape }}</h1>
				<div class="no-image-column-wrapper">
					<p class="indent">{{ content }}</p>
				</div>
			</header>
		</div>
		<div class="large-6 shrink cell">
			{% include slideshow.html %}
		</div>
		{% assign people = site.data.people.persons | sort: "name" %}
		{% for person in people %}
				<div class="large-6 shrink cell">
					<div class="team-image">
						<img src="/images/{{ page.base }}/{{ person.name }}.jpg">
					</div>
					<style type="text/css">
						
						.team-image {

							margin-bottom: 4.5rem;
							margin-top: 2rem;
							max-height: 1rem;
							max-width: 16rem;
							margin-right: 10rem;
							margin-left: 10rem;
							padding-bottom: 5rem;

						}

					</style>
				</div>
				<div class="large-6 shrink cell">
					<div class="no-image-column-wrapper">
						<div class="team-bio">
							<h3>{{ person.name }}</h3>
							<br>
							<p>What do you do in robotics? <strong>{{ person.role }}</strong></p>
							<p>What grade are you in? <strong>{{ person.grade }}</strong></p>
							<p>What is your favorite word starting with a Q? <strong>{{ person.fav }}</strong></p>
							<p>If you could change your name to anything what would it be? <strong>{{ person.nn }}</strong></p>
							<p>Your best quote? <strong>{{ person.quote }}</strong></p>

							<style type="text/css">
								
							.team-bio {

								padding-bottom: 5rem;

							}


							</style>

						</div>
					</div>
				</div>
		{% endfor %}
	</div>
</div>