---
layout: default
---
{{ content}}
<br>
<div class="colum-wrapper">
	<div class="grid-x">
		<div class="large-6 small-12 cell">
			<table>
			  <thead>
			    <tr>
			      <th width="120" class="centered">Team</th>
			      <th class="centered">QP</th>
			      <th width="150" class="centered">RP</th>
			      <th width="150" class="centered">Plays</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Content Go1es Here</td>
			      <td>This is lo2nger content Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Go3es Here</td>
			      <td>Content Goe44s Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="large-6 small-12 cell">
			<h2 class="centered">4998 Berean</h2>
		</div>
	</div>
</div>