<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
    <script>

<!--

function init ( )
{
  timeDisplay = document.createTextNode("");
  document.getElementById("clock").appendChild(timeDisplay);
}

function updateClock()
{
  var currentTime = new Date();

  var next = "{{ page.next }}";

  var currentMonthInt = currentTime.getMonth();
  var currentDay = currentTime.getDate();
  var currentYear = currentTime.getFullYear();
  var currentMonth = currentMonthInt + 1;
  var currentHours = currentTime.getHours();
  var currentMinutes = currentTime.getMinutes();
  var currentSeconds = currentTime.getSeconds();
  var s = "/"

  var currentDate = currentMonth + s + currentDay + s + currentYear;

  currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
  currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

  var timeOfDay = (currentHours < 12) ? "AM" : "PM";

  currentHours = (currentHours > 12) ? currentHours - 12 : currentHours;

  currentHours = (currentHours == 0) ? 12 : currentHours;

  var currentTimeString = currentDate + " " + currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

  if (currentTimeString >= next) {

    document.getElementById("clock-container").innerHTML = '';
    document.getElementById("next").innerHTML = 'There is a tournament now!'

  } else {

    document.getElementById("clock").innerHTML = currentTimeString;

  }

  
}

// -->
	</script>
  <body onload="updateClock(); setInterval('updateClock()', 1000 )">
  	<div class="container">
	    {% include header.html %}

	    <main class="page-content" aria-label="Content">
	        {{ content }}
	    </main>
	    {% include footer.html %}

	    {% include javascript.html %}
	</div>
  </body>

</html>
